html, body
{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    overflow: hidden;
    min-height: 100%;
}

body
{
    background: url(/img/background1.jpg) no-repeat 50% 50%;
    background-size: cover;
}

html.overflow, html.overflow body
{
    overflow-y: auto;
}

html.overflow body
{
    padding-top: 60px;
}

#welcome-menu-wrapper
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999999999;
    overflow: auto;

    padding-top: 60px;
    background-color: rgba(0,0,0,0.6);
}

#welcome-menu
{
    min-height: 400px;
}

#welcome-menu.loading
{
    text-align: center;
    margin: 20px;
    color: #fff;
}

#welcome-menu.loading h2
{
    font-weight: 500;
}

#welcome-menu ._item
{
    border-bottom: 2px solid #DDD;
    min-height: 100px;
    line-height: 100px;
    position: relative;
    padding: 0 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color:white !important;
    display: block;
}

#welcome-menu ._item.rap ._background
{
    background-color: rgba(34, 115, 199, 0.74)
}

#welcome-menu ._item.soul ._background
{
    background-color: rgba(158, 140, 39, 0.79);
}

#welcome-menu ._item.metal ._background
{
    background-color: rgba(105, 105, 105, 0.86)
}

#welcome-menu ._item ._background
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);

}

#welcome-menu ._item .select
{
    position: absolute;
    right: 10px;
    font-size: 28px;
    top: 0;
    padding: 0 10px;
    color:white;
}

#welcome-menu ._item span
{
    position: relative;
    font-size: 30px;
    margin-left: 50px;
}

#menu-artists
{
    min-height: 400px;
    padding: 0 5px;
    background-color: rgba(74, 74, 74, 0.37);
    display: none;
}

header
{
    height: 60px;
    background-color: white;
    line-height: 35px;
    font-size: 20px;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999990;
    box-shadow: 0 1px 10px rgba(0,0,0,0.8);
    padding-left: 60px;
}

#menu-wrapper
{
    position: absolute;
    left: 0;
    top: 60px;
    bottom:0;
    overflow: auto;
    width: 20%;
    background-position: 50% 0;
    background-size: cover;
    background-color: #4A4A4A;
}

#menu-artists .title a
{
    margin-top: 20px;
    margin-right: 6px;
}

#menu-artists .list
{

}

#menu-artists a._item
{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgba(136, 136, 136, 0.31);
    margin: 4px;
    margin-top: 0;
    display: block;
    position: relative;
    color: #fff;
}

#menu-artists a._item img
{
    transition: transform 200ms;
}

#menu-artists a._item.fx img
{
    transform: scale(2) rotateZ(360deg);
}

#menu-artists a i.ion-checkmark-round
{
    display: none;
    position: absolute;
    right: 10px;
    top: 0;
}

#menu-artists a.selected
{
    font-weight: 500;
}

#menu-artists a.selected i.ion-checkmark-round
{
    display: block;
}

#menu-artists a img, img.avatar
{
    width: 48px;
    height: 48px;
    border-radius: 48px;
    margin-right: 5px;
}

header img.avatar
{
    margin-top: -4px;
    border: 1px solid white;
    margin-left: 5px;
}

#list-header
{
    text-align: center;
    background-color: #fff;
    margin: -5px;
    margin-bottom: 10px;
}

#list-header a
{
    font-size: 26px;
    color:#888888;
}

#page2
{
    padding: 5px;
}

.list-item
{
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.12);
    background: #fff;
    border-radius: 2px;
    border-left: 4px solid grey;
    display: block;
    min-height: 70px;
    position: relative;
    padding-left: 70px;
    margin-left: 10px;
}

.list-item.new
{
    border-left: 3px solid rgb(255, 120, 0);
}

.list-item.new ._label
{
    background-color: rgb(255, 120, 0);
}

#list-header a.news
{
    background-color: rgb(255, 120, 0);
}

.list-item.social
{
    border-left: 3px solid rgb(85, 172, 238);
}

.list-item.social ._label
{
    background-color: rgb(85, 172, 238);
}

#list-header a.social
{
    background-color: rgb(85, 172, 238);
}

.list-item.video
{
    border-left: 3px solid #cc181e;
}

.list-item.video ._label
{
    background-color: #cc181e;
}

#list-header a.videos
{
    background-color: #cc181e;
}

.list-item.event
{
    border-left: 3px solid rgb(37, 195, 63);
}

.list-item.event ._label
{
    background-color: rgb(37, 195, 63);
}

#list-header a.events
{
    background-color: rgb(37, 195, 63);
}

.list-item.sound
{
    border-left: 3px solid rgb(255, 118, 244);
}

.list-item.sound ._label
{
    background-color: rgb(255, 118, 244);
}

#list-header a.sound
{
    background-color: rgb(255, 118, 244);
}

#list-header a.disabled
{
    background-color: #4A4A4A !important;
}

.list-item .extra
{
    display: none;
}

.list-item iframe
{
    border: 0 none;
    width: 100%;
    height: 300px;
    margin: 10px 0;
}

.list-item.expand .extra
{
    display: block;
    color: #333;
    margin-left: -60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-item.expand .extra .url
{
    color: rgb(37, 195, 63);
}

.list-item ._label
{
    position: absolute;
    left: -15px;
    top: 0;
    width: 15px;
    text-align: center;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.list-item img
{
    max-width: 58px;
    max-height: 58px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.list-item .time
{
    color: #888888;
    display: block;
    font-size: 12px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
    font-weight: 300;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}

header h1
{
    display: inline-block;
    font-size: 32px;
    margin: 0;
}

#map
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    display: none;
}

#btShowMap, #btShowList
{
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    background-color: rgb(85, 172, 238);
    width: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
}

#logo
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    background-color: white;
}

#logo img
{
    width: 60px;
    height: 60px;
    padding: 5px;
}